<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihao.toy.dal.persistent.ResourceMapper">
	<!-- 所有字段 -->
	<sql id="All_Fields">
		<![CDATA[id,title,sub_title,author,composer,singer,url_type,url,summary,content,photo,creator_id,biz_flag,gmt_created,gmt_modified,is_deleted]]>
	</sql>
    <select id="getById" resultType="com.qihao.toy.dal.domain.ResourceDO"
        parameterType="java.lang.Long">
        SELECT
        <include refid="All_Fields" />
        FROM resource
        WHERE id=#{id}
    </select>    
    <insert id="insert" parameterType="com.qihao.toy.dal.domain.ResourceDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO resource (
         title,sub_title,author,composer,singer,url_type,url,summary,content,photo,creator_id,biz_flag,gmt_created,gmt_modified
        )
        VALUES (
        #{title},#{subTitle},#{author},#{composer},#{singer},#{urlType},#{url},#{summary},#{content},#{photo},#{creatorId},#{bizFlag},now(),now()
        )
    </insert>
    <update id="update" parameterType="com.qihao.toy.dal.domain.ResourceDO">
        UPDATE resource
        SET
        gmt_modified=now()
        <if test="title != null"> ,title=#{title}</if>
        <if test="subTitle != null"> ,sub_title=#{subTitle}</if>
        <if test="author != null"> ,author=#{author}</if>
        <if test="composer != null"> ,composer=#{composer}</if>
        <if test="singer != null"> ,singer=#{singer}</if>
        <if test="urlType!= null"> ,url_type=#{urlType}</if>
        <if test="url != null"> ,url=#{url}</if>
        <if test="summary != null"> ,summary=#{summary}</if>
        <if test="content != null"> ,content=#{content}</if>
        <if test="photo != null"> ,photo=#{photo}</if>
        <if test="creatorId != null"> ,creatorId=#{creatorId}</if>
        <if test="bizFlag != null"> ,biz_flag=#{bizFlag}</if>
        WHERE id=#{id}
    </update>
    <update id="deleteById" parameterType="long">
        UPDATE resource
        SET
        gmt_modified=now(),is_deleted=1
        WHERE id=#{id}
    </update>    
    <select id="getAll" resultType="com.qihao.toy.dal.domain.ResourceDO"
        parameterType="com.qihao.toy.dal.domain.ResourceDO">
        SELECT
        <include refid="All_Fields" />
        FROM resource
        <where>
        	<if test="id != null"> AND id=#{id}</if>
	        <if test="author != null"> AND author=#{author}</if>
	        <if test="composer != null"> AND composer=#{composer}</if>
	        <if test="singer != null"> AND singer=#{singer}</if>
	        <if test="urlType!= null"> AND url_type=#{urlType}</if>
	        <if test="url != null"> AND url=#{url}</if>
	        <if test="summary != null"> AND summary=#{summary}</if>
	        <if test="photo != null"> AND photo=#{photo}</if>
	        <if test="creatorId != null"> AND creatorId=#{creatorId}</if>
	        <if test="bizFlag != null"> ,biz_flag=#{bizFlag}</if>
        	<if test="ids != null"> AND id IN 
        	  <foreach collection="ids"  item="resourceId" open="("    separator="," close=")">
   						#{resourceId}
  				</foreach>
  			</if>	        
        </where>
        limit #{offset},#{limit}
    </select>    
</mapper>
        