<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihao.toy.dal.persistent.MyFriendMapper">
	<!-- 所有字段 -->
	<sql id="All_Fields">
		<![CDATA[id,my_id,friend_id,relation,status,gmt_invited,gmt_confirmed,gmt_created,gmt_modified,is_deleted]]>
	</sql>
    <select id="getById" resultType="com.qihao.toy.dal.domain.MyFriendDO"
        parameterType="java.lang.Long">
        SELECT
        <include refid="All_Fields" />
        FROM my_friend
        WHERE id=#{id}
    </select>
    <select id="getItemByFriendId" resultType="com.qihao.toy.dal.domain.MyFriendDO">
        SELECT
        <include refid="All_Fields" />
        FROM my_friend
        WHERE my_id=#{myId} AND friend_id=#{friendId}
    </select>
    <insert id="insert" parameterType="com.qihao.toy.dal.domain.MyFriendDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO my_friend (
         my_id,friend_id,relation,status,gmt_invited,gmt_confirmed,gmt_created,gmt_modified
        )
        VALUES (
        #{myId},#{friendId},#{relation},#{status},#{gmtInvited},#{gmtConfirmed},now(),now()
        )
    </insert>
    <update id="update" parameterType="com.qihao.toy.dal.domain.MyFriendDO">
        UPDATE my_friend
        SET
        gmt_modified=now()
        <if test="status != null"> ,status=#{status}</if>
        <if test="relation != null"> ,relation=#{relation}</if>
        <if test="gmtInvited != null"> ,gmt_invited=#{gmtInvited}</if>
        <if test="gmtConfirmed != null"> ,gmt_confirmed=#{gmtConfirmed}</if>
        WHERE id=#{id}
    </update>
    <update id="modifyRelation">
        UPDATE my_friend
        SET
        gmt_modified=now(),relation=#{relation}
        WHERE my_id=#{myId} AND friend_id=#{friendId}
    </update>
    <select id="getAll" resultType="com.qihao.toy.dal.domain.MyFriendDO"
        parameterType="com.qihao.toy.dal.domain.MyFriendDO">
        SELECT
        <include refid="All_Fields" />
        FROM my_friend
        <where>
        	<if test="id != null"> AND id=#{id}</if>
        	<if test="myId != null"> AND my_id=#{myId}</if>
        	<if test="friendId != null"> AND friend_id=#{friendId}</if>
        	<if test="status != null"> AND status=#{status}</if>
        </where>
        limit #{offset},#{limit}
    </select>    
</mapper>
        